.feynman__subtitle {
    margin-bottom: 0;
    display: block;
    margin-top: 70px;
    line-height: 51px;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    z-index: 1;
    position: relative;
}